{% extends 'admin/navigation.html.twig' %}

{% block title %}Agenda|Administration{% endblock %}

{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="card">
            <h1 class="card-header">
                Gestion des utilisateurs
            </h1>
            <div class="card-body">
                <div class='row'>
                    <div class="form-group">
                        <label for="inputEmail">Adresse email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
