{% extends 'admin/navigation.html.twig' %}

{% block title %}Agenda|Administration{% endblock %}

{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="card">
            <h1 class="card-header">
                Accueil
            </h1>
            <div class="card-body">
                <h5 class="card-title">Bienvenue sur la page d'administration</h5>
                <p class="card-text">
                    Sur celle-ci vous pourrez gerer:<br>
                <ul>
                    <li>Les utilisateurs</li>
                    <li>Les agendas</li>
                    <li>Les évènements</li>
                    <li>Les catégorie</li>
                </ul>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
